<html>
    <head>
        <title>Calculator</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="../scripts/styles.css">
    </head>
    <body>
        <header>
            
        </header>
        <main>
           <div id="Calculations">
                <h1>Calculator</h1>
                <input id="first" type="text">
                <select name="operation" id="type">
                    <option value="add">Add</option>
                    <option value="subtract">Subtract</option>
                    <option value="multiply">Multiply</option>
                    <option value="divide">Divide</option>
                </select>
                <input id="second" type="text">
                <p>=</p>
                <div id="answer"></div>
                <button type="button" class="button">Calculate</button>
            </div> 
        </main>
        <footer>
            
        </footer>
        <script type="text/javascript" src = "../scripts/scripts.js"></script>
    </body>
    
</html>